body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #460606;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: #259e7a;
    outline: none;
}

button {
    background-color: #007bff;
    color: rgb(184, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}